.header {
    text-align: center;
    color: '#fff';
    height: 64px;
    width: 600px;
    line-height: 64px;
    background-color: #7dbcea;
    font-weight: bold;
    color: #fff;
}

.content {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 670px;
    line-height: 120px;
    color: '#fff';
    background-color: #e2e910;
}

.footer {
    width: 600px;
    text-align: center;
    color: '#fff';
    background-color: #7dbcea;
    font-weight: bold;
    color: #fff;
}